{% extends 'base.html' %} 
{% load static from staticfiles %} 
{% load bootstrap_tags %} 
{% block content %}

<!-- About Page Header -->
<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-dark">
            <h1>About</h1>
            <hr>
        </div>
    </div>
</div>

<!-- About Page Image -->
<img src="/media/images/drumsAbout.jpg" alt="Drum About" width="100%">
<br>
<br>
<hr>
<br>

<!-- About Page Section -->
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-4">
            <p>
                Welcome to TGDrums, the newest drums buying experience. Our brand new online store is set up to supply products Worldwide. To be the best we believe we need to be different and it is this difference that we hope to reflect in everything that we do. Everybody
                that works at TGDrums is a drummer and we have all trained extensively on all of the wonderful brands and products that we sell, whenever you interact with us you are assured of unbiased, qualified advice so that you can make the best
                choice possible on what products are right for you.
            </p>

            <p>
                When you visit our store you will experience Percussion Heaven run by a team committed to creating an experience that is as much fun as it is informative for our customers and don’t make the mistake of thinking you are only welcome when you are buying,
                drummers are ALWAYS welcome at TGDrums even if it just to hang out to talk to other drummers or to keep up to date on product developments etc.
            </p>
        </div>

        <div class="col-md-6 mb-4">
            <p>
                At TGDrums we don’t just understand drums we understand DRUMMERS! We also understand that we aren’t just selling drums and percussion, we are selling something that makes us all feel fantastic and that something is when we play drums. We are selling that
                wonderful feeling of excitement and nervousness minutes before we count in for the first song, we are selling the butterflies we all feel in our stomach when the audience applaud our songs and we are selling that enormous feeling of satisfaction
                we feel when we walk from the stage to the dressing room at the end of a great performance.
            </p>

            <p>
                We say it because we mean it, TGDrums is more than just a drum store it is an adventure. We want you to be a part of it!
            </p>
        </div>
    </div>
</div>
<hr> 
{% endblock %}
