{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}
<br>
<div class="container h-100">
  <div class="d-flex h-100 text-center align-items-center">
    <div class="w-100 text-dark">
      <h1>Login</h1>
      <hr>
    </div>
  </div>
</div>

    <form method="post" action="{% url 'login' %}?next={{ next }}" class="accountform">
        <fieldset class="form-group">
            {% csrf_token %}
            {{ user_form | as_bootstrap }}
            
             <p><a href="{% url 'password_reset' %}" class="text-warning">Forgot my password</a></p>
             
            <button type="submit" class="btn btn-warning">Login</button>
        </fieldset>
    </form>
{% endblock %}